---
import Base from "../layouts/Base.astro"
import Image from "astro/components/Image.astro"
---

<Base pageName="Mutattoo - Blog">
	<div class="flex flex-col justify-center items-center py-[160px] h-[80vh] text-center">
		<h1 class="font-unifraktur text-[72px]">Na blogu pracujeme!</h1>
		<p class="text-[36px] text-white40">A máte se na co těšit!</p>
		<a class="underline" href="/">Zpět</a>
	</div>
</Base>