---
import Base from "../layouts/Base.astro"
import Image from "astro/components/Image.astro"
import Member from "../components/Member.astro"
---

<Base>
	<div class="flex flex-col items-center px-5 md:px-10 lg:px-14 py-[160px] gap-[30px] header-bg">
		<div class="flex flex-row gap-[30px] max-w-full">
			<Image src={"/logo-full.png"} width={640} height={110} alt={"Logo mutattoo"} class="object-contain shrink-0" />
		</div>
		<h1 class="text-2xl text-center">Profesionální tetérské<br>studio v Havířově</h1>
		<div class="flex flex-row gap-[30px]">
			<a class="flex flex-row gap-3 items-center px-3 py-[6px] border border-white10 bg-white10 rounded-[3px]" target="_blank" href="https://cal.com/jan-panzenberger-zva0oq/kerka" >
				<Image src={"/ikonky/calendarIcon.svg"} width={16} height={16} alt={"Ikona kalendáře"}/>
				Chci termín!
			</a>
			<a class="flex flex-row gap-3 items-center px-3 py-[6px] border border-white10 rounded-[3px]" href="">
				<Image src={"/ikonky/galleryIcon.svg"} width={16} height={16} alt={"Ikona galerie"}/>
				Naše studio
			</a>
		</div>
	</div>
	
	<div class="flex flex-col items-center p-5 md:p-10 lg:p-14 gap-16 bg-lightGradient" id="o-nas">
		<div class="flex flex-col items-center px-10 py-20 gap-8 text-center border border-white20 rounded-md w-[1200px] max-w-full about-us">
			<p class="text-[24px]">Jsme tatérské studio v Havířově.<br>Skládáme se z dvou certifikovaných tatérů<br>a nadšených umělců.</p>
			<div class="flex flex-col md:flex-row gap-8">
				<a class="flex flex-row gap-3 items-center px-3 py-[6px] border border-white10 bg-dark60 rounded-[3px]" href="">
					Naši tatéři
				</a>
				<a class="flex flex-row gap-3 items-center px-3 py-[6px] border border-white10 bg-dark60 rounded-[3px]" href="">
					Naše kérky
				</a>
			</div>
		</div>
		<div class="flex flex-col gap-[30px] w-[1200px] max-w-full">
			<h2 class="font-unifraktur text-[48px]">Máme a nabízíme</h2>
			<div class="flex flex-col md:flex-row text-[24px] gap-[30px] justify-between flex-wrap">
				<div class="flex flex-row-reverse justify-between md:flex-col rounded-md border border-white20 p-5 bg-featureCard bg-cover grow">
					<Image src={"/ikonky/paletteIcon.svg"} width={48} height={48} alt={"Dekorativní ikona"} class={"md:self-end"} />
					<p>Vlastní<br>návrhy</p>
				</div>
				<div class="flex flex-row-reverse justify-between md:flex-col rounded-md border border-white20 p-5  bg-featureCard bg-cover grow">
					<Image src={"/ikonky/caligraphicIcon.svg"} width={48} height={48} alt={"Dekorativní ikona"} class={"md:self-end"} />
					<p>Kvalitní<br>vybavení</p>
				</div>
				<div class="flex flex-row-reverse justify-between md:flex-col rounded-md border border-white20 p-5  bg-featureCard bg-cover grow">
					<Image src={"/ikonky/healthIcon.svg"} width={48} height={48} alt={"Dekorativní ikona"} class={"md:self-end"} />
					<p>Čisté<br>prostředí</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center p-5 md:p-10 lg:p-14 bg-lightGradient" id="nasi-tateri">
		<div class="flex flex-col gap-8 w-[1200px] max-w-full justify-start">
			<h2 class="font-unifraktur text-[48px]">Náš tým</h2>
			<div class="flex flex-row flex-wrap w-[1200px] max-w-full text-[24px] gap-[30px]">
				<Member name="Luboš" description="Tohle je Luboš" igButton="Sleduj Luboše" photo="lubos-bg" aboutButton="O Lubošovi" />
				<Member name="Alex" description="Tohle je Alex" igButton="Sleduj Alexe" photo="alex-bg" aboutButton="O Alexovi" />
				<Member name="Petr" description="Tohle je Petr" igButton="Sleduj Petra" photo="petr-bg" aboutButton="O Petrovi" />
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center p-5 md:p-10 lg:p-14 bg-lightGradient" id="nase-kerky">
		<div class="flex flex-col gap-8 w-[1200px] max-w-full">
			<h2 class="font-unifraktur text-[48px]">Naše práce</h2>
			<div class="flex flex-col gap-2 md:gap-4 lg:gap-8">
				<div class="flex flex-row gap-2 md:gap-4 lg:gap-8">
					<div class="basis-1/2 md:basis-2/3 h-80 bg-tattoo1 bg-center bg-cover rounded-md border border-white20">
						
					</div>
					<div class="basis-1/2 md:basis-1/3 h-80 bg-tattoo2 bg-center bg-cover rounded-md border border-white20">
						
					</div>
				</div>
				<div class="flex flex-row gap-2 md:gap-4 lg:gap-8">
					<div class="basis-1/2 md:basis-1/3 h-80 bg-tattoo3 bg-center bg-cover rounded-md border border-white20">
						
					</div>
					<div class="basis-1/2 md:basis-2/3 h-80 bg-tattoo4 bg-center bg-cover rounded-md border border-white20">
						
					</div>
				</div>
				<div class="flex flex-row gap-2 md:gap-4 lg:gap-8">
					<div class="basis-1/2 md:basis-2/3 h-80 bg-tattoo5 bg-center bg-cover rounded-md border border-white20">
						
					</div>
					<div class="flex justify-end items-end basis-1/2 md:basis-1/3 h-80 bg-tattoo6 bg-center bg-cover p-5 rounded-md border border-white20">
						<a class="flex flex-row gap-3 items-center px-3 py-[6px] border border-white10 bg-dark60 rounded-[3px] text-base w-fit" href="">
							<Image src={"/ikonky/instagramIcon.svg"} width={16} height={16} alt={"Instagram ikona"} />
							Chceš vidět více?
						</a>
					</div>
				</div>
				<div class="flex flex-col md:flex-row gap-8 justify-evenly">
					<div class="p-5 rounded-md border border-white20 bg-featureCard bg-cover w-full">
						<p class="text-white40">@eve.linka</p>
						<p>Skvělý člověk a tatér v jednom! 🔥</p>
					</div>
					<div class="p-5 rounded-md border border-white20 bg-featureCard bg-cover w-full">
						<p class="text-white40">@tmtbi</p>
						<p>Jako vždy spokojenost, díky!💥</p>
					</div>
					<div class="p-5 rounded-md border border-white20 bg-featureCard bg-cover w-full">
						<p class="text-white40">@pavlinazajdova</p>
						<p>Nejlepší studio... nejlepší tatér ☝️</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center p-5 md:p-10 lg:p-14 bg-lightGradient overflow-hidden relative">
		<div class="flex flex-col gap-8 w-[1200px] max-w-full">
			<h2 class="font-unifraktur text-[48px]">Chceš tetování?</h2>
			<div class="flex flex-col gap-4">
				<p>Uvažuješ nad kérce od nás? Mrkni na náš<br>kalendář a vyber si termín, který ti vyhovuje.</p>
				<p>Potřebuješ se na cokoliv zeptat? Něco ti není<br>jasné? Neváhej nám napsat na Instagramu.</p>
			</div>
			<div class="flex flex-col md:flex-row gap-[30px]">
				<a class="flex flex-row gap-3 items-center px-3 py-[6px] border border-white10 bg-white10 rounded-[3px]" target="_blank" href="https://cal.com/jan-panzenberger-zva0oq/kerka">
					<Image src={"/ikonky/calendarIcon.svg"} width={16} height={16} alt={"Ikona kalendáře"}/>
					Chci termín!
				</a>
				<a class="flex flex-row gap-3 items-center px-3 py-[6px] border border-white10 rounded-[3px]" href="">
					<Image src={"/ikonky/instagramIcon.svg"} width={16} height={16} alt={"Ikona galerie"}/>
					Sleduj náš IG
				</a>
			</div>
			<div>
				<div class="flex px-3 py-[6px] items-center gap-[10px]">
					<Image src={"/ikonky/mapIcon.svg"} width={16} height={16} alt={"Ikona mapky"}/>
					<p>Národní třída 666, Havířov</p>
				</div>
				<div class="flex px-3 py-[6px] items-center gap-[10px]">
					<Image src={"/ikonky/phoneIcon.svg"} width={16} height={16} alt={"Ikona mapky"}/>
					<p>+420 722 550 354</p>
				</div>
				<div class="flex px-3 py-[6px] items-center gap-[10px]">
					<Image src={"/ikonky/mailIcon.svg"} width={16} height={16} alt={"Ikona mapky"}/>
					<p>lubos.muta@seznam.cz</p>
				</div>
			</div>
		</div>
		<Image width={120} height={120} src="/tateri/Lubos.webp" alt="Parallax image" class="JS-animate-down top-0 right-20 absolute" />
	</div>
</Base>

<script>
	import { animate, scroll } from "motion"

	const animation = animate(
		".JS-animate-down",
		{ transform: ["translateY(-2000%)", "translateY(300%)"] },
		{ ease: "linear" }
	)

	scroll(animation)
</script>