---
import Image from "astro/components/Image.astro"
---

<nav class="py-4 px-24 flex flex-row justify-between border-b border-b-white20">
	<ul class="flex flex-row gap-8">
		<li><a href="">O nás</a></li>
		<li><a href="">Naše kérky</a></li>
		<li><a href="">Náš tým</a></li>
		<li><a href="">Blog</a></li>
	</ul>
	<ul class="flex flex-row gap-8 items-center">
		<li><a href=""><Image width="24" height={24} src="/mailIcon.svg" alt="tlačítko pro mail"/></a></li>
		<li><a href=""><Image width="24" height={24} src="/instagramIcon.svg" alt="tlačítko pro instagram"/></a></li>
		<li><a href="" class="py-[6px] px-3 rounded-[3px] border border-white20">Objednej si termín!</a></li>
	</ul>
</nav>