@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header-bg{
		background: 
        linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(26, 26, 26, 1) 100%),
        url('/header-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

	}
}