@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/cloister-black');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header-bg{
		background: 
        linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(26, 26, 26, 1) 100%),
        url('/header-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	}

    .footer-bg{
        background-image: url('/header-bg.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .lubos-bg{
		background: 
        linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(26, 26, 26, 1) 100%),
        url('/tateri/Lubos.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	}

    .alex-bg{
		background: 
        linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(26, 26, 26, 1) 100%),
        url('/tateri/Alex.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	}

    .petr-bg{
		background: 
        linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(26, 26, 26, 1) 100%),
        url('/tateri/Petr.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	}

    .verca-bg{
        background: 
        linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(26, 26, 26, 1) 100%),
        url('/tateri/Verca.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    }

    .about-us{
        background-image: url('/logo-card.png');
        background-size: 280px;
        background-position: center;
        background-repeat: no-repeat;
    }
}