---
import '../global.css'
import Navbar from "../components/Navbar.astro"
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Site</title>
	</head>
	<body class="font-nunito bg-dark text-white text-[18px]">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>